body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  color: ghostwhite;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
button {
  background-color: black;
}
#author{ 
  opacity: 0;
}
#author:hover{
  opacity: 1;
}
#todo-input{
  color: black
}